In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
pd.Series([4,8,15,16,23,42])

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd

In [5]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [7]:
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

In [8]:
Data = {"name":['Alice','Bob','Clair'],
        "Age":[25,30,27],
        "Gender":['Female','Male','Female']}

In [12]:
df = pd.DataFrame((Data))
print(df)

    name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clair   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
In Pandas, a DataFrame is a two-dimensional labeled data structure, with columns of potentially different types. It is similar
to a spreadsheet or a SQL table. Each column in a DataFrame is a pandas Series object.

On the other hand, a pandas Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a 
column in a spreadsheet or a single column in a SQL table.

To illustrate the difference, let's consider an example of creating a DataFrame and a Series.

In [13]:
import pandas as pd

# create a dictionary of data
data = {'Name': ['John', 'Mary', 'Peter', 'Lucy'],
        'Age': [25, 35, 42, 28],
        'Gender': ['M', 'F', 'M', 'F']}

# create a DataFrame
df = pd.DataFrame(data)

# create a Series
s = pd.Series([10, 20, 30, 40], name='Salary')

print(df)

    Name  Age Gender
0   John   25      M
1   Mary   35      F
2  Peter   42      M
3   Lucy   28      F

In [14]:
#And if you print the Series 's':
print(s)

0    10
1    20
2    30
3    40
Name: Salary, dtype: int64

In [ ]:
You can see that the DataFrame has three columns - Name, Age, and Gender - and four rows. Each column is a pandas Series object.
The Series s has only one column and four rows.

In summary, a DataFrame is a 2-dimensional data structure that holds multiple Series objects, while a Series is a 1-dimensional
data structure that holds a single column of data.

In [ ]:
Q5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might
use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions:

1).head() and tail(): These functions allow you to view the first or last n rows of a DataFrame. You might use them to quickly 
check the structure of a DataFrame or to get a glimpse of the data.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.head(10))  # view the first 10 rows

In [ ]:
2).describe(): This function provides a statistical summary of a DataFrame. It includes the count, mean, standard deviation, 
minimum value, and maximum value for each column. You might use it to get an overview of the distribution of your data.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.describe())  # view statistical summary

In [ ]:
groupby(): This function allows you to group rows of a DataFrame by one or more columns and perform aggregate functions on the groups. You might use it to answer questions such as "what is the average salary for each department?"

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
grouped = df.groupby('department')
print(grouped.mean())  # calculate the mean for each department

In [ ]:
3). read_csv():This is one of the most crucial pandas methods in Python. read_csv() function helps read a comma-separated 
values(csv) file into a Pandas DataFrame.All you need to do is mention the path of the file you want it to read. It canalso
read files separated by delimiters other than comma, like | or tab.

5).Sort_values:This function changes the order of the values in a column by sorting it. So, we can use this to show the 
dataframe as per our need by sorting ascending or descending order.

6).variablename.column : it is use for  show all column name.
    
9).pd.read_excel("FileName"): this function is help  for read excel_shite on store data.

In [ ]:
Q6.Which of the following is mutable in nature Series, DataFrame, Panel?

Ans : Both Series and DataFrame are mutable in nature, while Panel is not.
In pandas, mutable objects can be modified after they are created, while immutable objects cannot be changed after creation. 
Series and DataFrame are both mutable because they can be modified in place, such as by adding, deleting or modifying values.
Panel, on the other hand, is an immutable data structure in pandas, meaning that once it is created, it cannot be changed. 
Instead, any changes to a Panel will create a new Panel object. However, Panel has been deprecated since version 0.25.0, and it 
is recommended to use multi-dimensional arrays or DataFrames with hierarchical indexing instead.

In [ ]:
Q7.Create a DataFrame using multiple Series. Explain with an example.

In [16]:
import pandas as pd

# create three Series with data
fruits = pd.Series(['apple', 'banana', 'orange'])
quantities = pd.Series([5, 2, 8])
prices = pd.Series([0.50, 0.25, 0.75])

# create a DataFrame by combining the Series
fruit_data = pd.DataFrame({'Fruit': fruits, 'Quantity': quantities, 'Price': prices})

# print the resulting DataFrame
print(fruit_data)

    Fruit  Quantity  Price
0   apple         5   0.50
1  banana         2   0.25
2  orange         8   0.75

In [ ]:
This code creates three Series: fruits, quantities, and prices, which contain data about different types of fruit. The 
fruit_data DataFrame is then created by combining these Series, with the keys 'Fruit', 'Quantity', and 'Price' representing
the column labels. The resulting DataFrame looks like this: